<!DOCTYPE html>
<html>
<head>
	<title>Home | Movie Game</title>
</head>
<body>
	<h1>Welcome to the movie game!</h1>
	<h2>Please enter a term to search for movie titles: </h2>
	<form method='post' action='/search_results'>
		<input type="text" name="search" placeholder='Enter a term'>
		<button type='submit'>Submit</button>
	</form>
	<!--
	<h3>Can't think of a movie? Try our random word movie game</h3>
	<form method='post' action='/search_results'>
		<button type='submit' name='random_word' value='<%= @random %>'>Random Word</button>
	</form>
	-->
</body>
</html>