<!DOCTYPE html>
<html>
<head>
	<title>Movies | Movie Game</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<h1> Movie Trivia </h1>
	<h3><%= @question %></h3>
	<% @movies.each_with_index do |movie, index| %>

		

		<% if @random_movie == movie %>
			<img src='<%= movie.poster %>' onclick="alert('CORRECT')">
		<% else %>
		 	<img src='<%= movie.poster %>' onclick="alert('INCORRECT')">
		 <% end %>
		<% if index >= 8 %>
			<% break %>
		<% end %>

	<% end %>
</body>
</html>