<!DOCTYPE html>
<html>
<head>
	<title>New Post | Blog</title>
</head>
<body>
<h1>Add Post</h1>

<form action="/new_post" method="POST">
		<input type="text" name="title" placeholder="Give your post a title">
		<input type="text" name="text" placeholder="Write your post here.">
		<input type="text" name="author" placeholder="Enter your name or alias">
		<input type="text" name="category" placeholder="Enter a category.">
		<button type="submit" name="add_post" value="new_post">ADD</button>
</form>

</body>
</html>