<h1>Pokédex</h1>

<!-- List of pokemon -->
<ul class="pokedex-list">
  <% @pokemon.each do |pkmn| %>
    <li>
      <button class="js-show-pokemon btn btn-link"
          data-pokemon-uri="<%= pkmn["resource_uri"] %>">
        <%= pkmn["name"] %>
      </button>
    </li>
  <% end %>
</ul>


<!-- Pokemon modal view (hidden at first) -->
<div class="modal fade js-pokemon-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>

        <h3 class="modal-title">
          <span class='name'></span>
          <small class='index'></small>
        </h3>
      </div><!-- .modal-header -->

      <div class="modal-body">
        <dl class="dl-horizontal">
          <dt>Height</dt>
          <dd class='height'></dd>

          <dt>HP</dt>
          <dd class='HP'></dd>

          <dt>Attack</dt>
          <dd class='attack'></dd>

          <dt>Defense</dt>
          <dd class='defense'></dd>

          <dt>Sp. Attack</dt>
          <dd class='sp-attack'></dd>

          <dt>Sp. Defense</dt>
          <dd class='sp-defense'></dd>

          <dt>Speed</dt>
          <dd class='speed'></dd>

          <dt>Types</dt>
          <dd><ul class='types'></ul></dd>


        </dl>
      </div><!-- .modal-body -->

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->
