body {
  color: #fff;
}

.direction {
  padding: 20%;
}

.box {
  margin: 10px;
}

.blue {
  background-color: blue;
  border: 4px solid red;
}

#red {
  background-color: red;
  border: 4px solid blue;
}

.green {
  background-color: green;
}

#top {
  position: absolute;
  top: 350px;
  left: 350px;
}

#bottom {
  position: absolute;
  top: 400px;
  left: 500px;
}