<!DOCTYPE html>
<html>
<head>
	<title>Calculate | Online Calculator</title>
</head>
<body>
	<p><%= @first %>  <%= @second %> = <%= @result %></p>
	<form action="/" method="POST">
		<button type="submit" name="operation" value="save">SAVE</button>
	</form>
</body>
</html>