<!DOCTYPE html>
<html>
<head>
	<title>New Task</title>
</head>
<body>
	<form action="/new_task" method="POST">
		<input type="text" name="content" placeholder="Enter task here">
		<button type="submit" name="add_task" value="new_task">ADD</button>
	</form>
</body>
</html>